@import 'bootstrap'; /* clases de bootstrap */

html, .container-button,.numero{
    background-color: rgb(90, 149, 153);
}

.numero{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.contador{
    font-size: 20rem;
}
.container-button{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    border-radius: 16px;
    border: 2.8px solid blue;
    background-color: beige;
}